<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nyelam.android">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.markermap.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".NYApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher_rounded"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,icon,theme,label,name">
        <meta-data
            android:name="firebase_crash_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_public_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.nyelam.android.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- android:name=".StarterActivity" -->

        <activity
            android:name=".doshop.DoShopCheckoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.AuthActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name=".backgroundservice.NYSpiceService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".dodive.DoDiveActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dodive.DoDiveSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".diveservice.DetailServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dodive.DoDiveSearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".booking.BookingServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".booking.BookingServiceParticipantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".booking.BookingServiceContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".booking.BookingServiceSummaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bookinghistory.BookingHistoryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".divecenter.DiveCenterDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".divespot.DiveSpotDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dodive.DoDiveSearchResultDiveSpotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dodive.FilterListServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ecotrip.EcoTripActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" />
        <activity
            android:name=".profile.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VeritransNotificationActivity"
            android:label="@string/title_activity_blank_notification"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.danzoye.lib.auth.facebook.DFacebookActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.danzoye.lib.auth.google.DGoogleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".home.TermsAndConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dotrip.DoTripActivity"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".dotrip.DoTripKeywordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dotrip.DoTripResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dotrip.DoTripDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dotrip.DoTripListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".docourse.DoCourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".docourse.DoCourseResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dodive.EquipmentRentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".divecenter.DiveGuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bookinghistory.RatingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doshop.DoShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onboarding.IntroActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".inbox.InboxActivity" />
        <activity android:name=".inbox.NewMessageActivity" />
        <activity android:name=".doshop.DoShopDetailItemActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".doshop.DoShopCategoryActivity"
            android:screenOrientation="portrait"/>
        <!-- <activity android:name=".doshop.DoShopCheckoutActivity"></activity> -->
        <activity android:name=".doshop.DoShopChooseAddressActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".doshop.DoShopAddAddressActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>