<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.midtrans.sdk.uikit">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.midtrans.sdk.uikit.activities.PaymentMethodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.midtrans.sdk.uikit.activities.UserDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.midtrans.sdk.uikit.views.banktransfer.list.BankTransferListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.midtrans.sdk.uikit.views.banktransfer.payment.BankTransferPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.midtrans.sdk.uikit.views.banktransfer.status.VaPaymentStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.midtrans.sdk.uikit.views.creditcard.saved.SavedCreditCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.midtrans.sdk.uikit.views.creditcard.details.CreditCardDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.midtrans.sdk.uikit.views.status.PaymentStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.midtrans.sdk.uikit.views.banktransfer.status.MandiriBillStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.midtrans.sdk.uikit.views.banktransfer.status.VaOtherBankPaymentStatusActivity"
            android:screenOrientation="portrait" />
    </application>


</manifest>
